
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 100px;
}

.title {
    margin: 50px;
    text-align: center;
    font-size: 40px;
}

.controller {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    background-color:yellowgreen;
    border: 2px solid black;
}

h2 {
    display: inline-block;
}

.info-btn {
    background-color: white;
    color: black;
    border-radius: 3px;
    border: 2px solid black;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}
.info-btn:hover {
    font-weight: 700;
    cursor: pointer;
}

.endpointDescription {
    font-size: 20px;
    margin-bottom: 30px;
}

.enum {
    font-size: 20;
    text-align: left;
    font-weight: 600;
    padding-left: 40%;
}